{% extends "base/base.html"%}
{% block content%}
{% from "macros/macromostrarcurso.html" import render_curso %}
        <!-- Contact Section-->
        <section class="page-section portfolio margintop" id="cursos">
            <div class="container">
                <!-- Clases Section Heading-->
                
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bienvenido</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <h3>Elige uno de los cursos con el que quieras empezar</h3>
                </div>
                
                <!-- Clases Grid Items-->
                {{render_curso(cursos)}}         
            </div>
        </section>
{% endblock %}